<!DOCTYPE >
<html >
<head>
<!-- {% load staticfiles %} -->
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
<!-- <script src='{% static "/qr_code/jquery.min.js" %}'></script>
<script src='{% static "/qr_code/qrcode.js" %}'></script> -->
<!-- <script type="text/javascript" src="jquery.min.js"></script>
<script type="text/javascript" src="qrcode.js"></script> -->
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>


<script type="text/javascript">

   $(document).ready(function(){

	   $('#createBtn').click(function(){

		  alert('금액 맞음?')
		

		// input에 입력하는 값들을 뽑아서 변수에 저장

		  var m_link = $('#m_link').val();	
	      var m_title = $('#m_title').val();

	      var buy =  $('#buy').val();
			
	      var sell = $('#sell').val();
			
	      var m_staring = $('#m_staring').val();

	      var m_opening = $('#m_opening').val();

	      var value = $('#value').val();

	      // encodeURIComponent로 인코딩 합시당. 

            


		  value = encodeURIComponent(value);

		  m_link = encodeURIComponent(m_link);

	      m_title = encodeURIComponent(m_title);

	      buy = encodeURIComponent(buy);

	      sell = encodeURIComponent(sell);

	      m_staring = encodeURIComponent(m_staring);

	      m_opening = encodeURIComponent(m_opening);

	      	      

	      // 뒤에 코드가 길어지니까 그냥 한번 변수에 주소를 저장

	      googleQRUrl = "https://chart.googleapis.com/chart?chs=177x177&cht=qr&chl=";
		  m_link = 'https://djangorc.pythonanywhere.com/?value='+ value + '&buy=' + buy + '&sell=' + sell 
		  alert(m_link)
	      

	      	 // 이미지가 나타날 영역에 원하는 내용을 넣은 QR code의 이미지를 출력합니다.

             // 여기 주소 부분을 변경해주면 원하는 값을 언제든 맘대로

	      	$('#qrcode').attr('src', googleQRUrl + m_link );
			
					//  "/ 개봉날짜:" + m_opening +'&choe=UTF-8'



	   });

	});

</script>



<body>

	<div>

	<label>송금</label><p>

	<input id ="value"></input><p>
			

	<!-- <label>송금</label><p>

	<input id ="m_title"></input><p> -->

	<label>구매자</label><p>

	<input id ="buy"></input><p>

	<label>판매자</label><p>

	<input id ="sell"></input><p>

	<!-- <label>날짜</label><p>

	<input id ="m_staring"></input><p> -->

	<!-- <label></label><p>

	<input id ="m_opening"></input><p> -->

	</div>

	

	<div><button id="createBtn">create</button></div>

	

	<div>

	<img id="qrcode" src='' />

	</div>

	

</body> 
