<!DOCTYPE >
<html >
<head>
<!-- {% load staticfiles %} -->
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
<!-- <script src='{% static "/qr_code/jquery.min.js" %}'></script>
<script src='{% static "/qr_code/qrcode.js" %}'></script> -->
<!-- <script type="text/javascript" src="jquery.min.js"></script>
<script type="text/javascript" src="qrcode.js"></script> -->
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>


<script type="text/javascript">

   $(document).ready(function(){

	   $('#createBtn').click(function(){

	      

		// input에 입력하는 값들을 뽑아서 변수에 저장

	      var m_title = $('#m_title').val();

	      var m_director =  $('#m_director').val();

	      var m_genre = $('#m_genre').val();

	      var m_staring = $('#m_staring').val();

	      var m_opening = $('#m_opening').val();

	      

	      // encodeURIComponent로 인코딩 합시당. 

            // 이걸로 인코딩하는 이유는 배웠었는데 까먹었다.. 검색해봐야지.

	      m_title = encodeURIComponent(m_title);

	      m_director = encodeURIComponent(m_director);

	      m_genre = encodeURIComponent(m_genre);

	      m_staring = encodeURIComponent(m_staring);

	      m_opening = encodeURIComponent(m_opening);

	      	      

	      // 뒤에 코드가 길어지니까 그냥 한번 변수에 주소를 저장

	      googleQRUrl = "https://chart.googleapis.com/chart?chs=177x177&cht=qr&chl=";

	      

	      	 // 이미지가 나타날 영역에 원하는 내용을 넣은 QR code의 이미지를 출력합니다.

             // 여기 주소 부분을 변경해주면 원하는 값을 언제든 맘대로

	      	$('#qrcode').attr('src', googleQRUrl + "제목:" + m_title + "/ 감독:" + m_director

	        		 + "/ 장르:" + m_genre + "/ 출연:" + m_staring + "/ 개봉날짜:" + m_opening +'&choe=UTF-8');



	   });

	 

	});

</script>



<body>

	<div>

	<label>제품</label><p>

	<input id ="m_title"></input><p>

	<label>가격</label><p>

	<input id ="m_director"></input><p>

	<label>장르</label><p>

	<input id ="m_genre"></input><p>

	<label>출연</label><p>

	<input id ="m_staring"></input><p>

	<label>개봉날짜</label><p>

	<input id ="m_opening"></input><p>

	</div>

	

	<div><button id="createBtn">create</button></div>

	

	<div>

	<img id="qrcode" src='' />

	</div>

	

</body> 
